@font-face {
  font-family: 'YS';
  src: url("../common/font/HYWH-65W.woff") format('woff'), url("../common/font/HYWH-65W.ttf") format('truetype');
}

.font-YS {
  font-family: 'YS', '汉仪文黑-65W', 'PingFangSC-Medium', 'PingFang SC', sans-serif;
}

@font-face {
  font-family: 'HuaSheng';
  src: url('主.ttf') format('truetype');
}

.font-HuaSheng {
  font-family: 'HuaSheng', 'YS', '汉仪文黑-65W', 'PingFangSC-Medium', 'PingFang SC', sans-serif;
}

body {
  transform: scale(1);
  width: 830px;
  background: url("../common/theme/bg-01.jpg");
  transform: scale(1.6);
}

.container {
  background: url("../common/theme/main-01.png") top left no-repeat;
  background-size: 100% auto;
  width: 830px;
}

.head-box {
  margin: 60px 0 0 0;
  padding-bottom: 0;
}

.head-box .title {
  font-size: 50px;
  color: #bbffff;
}

.head-box .label {
  font-size: 20px;
  font-family: 'YS', '汉仪文黑-65W', 'PingFangSC-Medium', 'PingFang SC', sans-serif;
  text-shadow: -2px 0 rgb(237, 19, 48), 0 2px rgb(237, 19, 48), 2px 0 rgb(237, 19, 48), 0 -2px rgb(237, 19, 48);
}

.cont-box {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.help-group {
  font-size: 21px;
  font-family: 'YS', '汉仪文黑-65W', 'PingFangSC-Medium', 'PingFang SC', sans-serif;
  font-weight: bold;
  padding: 15px 15px 10px 20px;
}

.help-table {
  text-align: center;
  border-collapse: collapse;
  margin: 0;
  border-radius: 0 0 10px 10px;
  display: table;
  overflow: hidden;
  width: 100%;
  color: #fff;
}

.help-table .tr {
  display: table-row;
}

.help-table .td,
.help-table .th {
  font-size: 14px;
  display: table-cell;
  box-shadow: 0 0 1px 0 #888 inset;
  padding: 12px 0 12px 50px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.help-table .tr:last-child .td {
  padding-bottom: 12px;
}

.help-table .th {
  background: rgba(34, 41, 51, 0.5);
}

.help-icon {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background: url("icon.png") 0 0 no-repeat;
  background-size: 500px auto;
  border-radius: 5px;
  left: 6px;
  top: 12px;
  transform: scale(0.85);
}

.help-title {
  display: block;
  color: #d3bc8e;
  font-size: 23px;
  line-height: 24px;
}

.help-desc {
  display: block;
  font-size: 16px;
  font-family: 'YS', '汉仪文黑-65W', 'PingFangSC-Medium', 'PingFang SC', sans-serif;
  text-shadow: 0 0 #ffffff, 0 1.5px black, 1.5px 0 black, 0 0 grey, 0 0 pink;
  line-height: 20px;
}
