@font-face {
  font-family: 'font';
  src: url("../font/font.ttf") format("truetype");
}

body {
  font-size: 18px;
  color: #1e1f20;
  font-family: "font";
  transform: scale(1.4);
  transform-origin: 0 0;
  width: 600px;
}

.container {
  width: 600px;
  padding: 20px 15px 10px 15px;
  background-size: contain;
}

.head-box {
  position: relative;
  margin: 60px 0 0 0;
  padding-bottom: 0;
  color: #fff;
  border-radius: 15px;

  .title {
    font-size: 50px;
    color: #bbffff;
    text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
  }

  .label {
    font-size: 20px;
    text-shadow: -2px 0 rgb(237, 19, 48), 0 2px rgb(237, 19, 48), 2px 0 rgb(237, 19, 48), 0 -2px rgb(237, 19, 48);
  }
}

.cont-box {
  border-radius: 15px;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.help-group {
  font-size: 21px;
  font-weight: bold;
  padding: 15px 15px 10px 20px;
}

.help-table {
  text-align: center;
  border-collapse: collapse;
  margin: 0;
  border-radius: 0 0 10px 10px;
  display: table;
  overflow: hidden;
  width: 100%;
  color: #fff;

  .tr {
    display: table-row;

    &:last-child .td {
      padding-bottom: 12px;
    }
  }

  .td,
  .th {
    font-size: 14px;
    display: table-cell;
    box-shadow: 0 0 1px 0 #888 inset;
    padding: 12px 0 12px 50px;
    line-height: 24px;
    position: relative;
    text-align: left;
  }

  .th {
    background: rgba(34, 41, 51, 0.5);
  }
}

.help-icon {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background: url("./imgs/icon.png") 0 0 no-repeat;
  background-size: 500px auto;
  border-radius: 5px;
  left: 6px;
  top: 12px;
  transform: scale(0.85);
}

.help-title {
  display: block;
  color: #d3bc8e;
  font-size: 23px;
  line-height: 24px;
}

.help-desc {
  display: block;
  font-size: 16px;
  text-shadow: 0 0 #ffffff, 0 1.5px black, 1.5px 0 black, 0 0 grey, 0 0 pink;
  line-height: 20px;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin: 10px 0;

  .version {
    color: #d3bc8e;
    display: inline-block;
    padding: 0 3px;
  }
}
