<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Git仓库更新推送</title>
  <link rel="stylesheet" type="text/css" href="{{pluResPath}}/CodeUpdate/index.css" />
  <link rel="shortcut icon" href="#" />
</head>

<body>
  <div class="container" id="container">
    <div class="head_box">
      <div class="id_text">Git仓库更新推送</div>
    </div>

    <div class="data_box">
      <div class="list">
        {{each lifeData item}}
        <div class="item">
          <div class="title">
            <div class="text">
              <img src="{{pluResPath}}CodeUpdate/icon/{{item.name.source}}.svg" class="icon" alt="{{item.name.source}} 图标">
              {{item.name.repo}}
              {{if item.release}}
              <snap>Releases</snap>
              {{/if}}
            </div>
            {{if item.name.branch}}
            <div class="branch">
              <img src="{{pluResPath}}CodeUpdate/icon/branch.svg" alt="分支图标">{{item.name.branch}}
            </div>
            {{/if}}
            {{if item.name.tag}}
            <div class="branch">
              <img src="{{pluResPath}}CodeUpdate/icon/tag.svg" alt="标签图标">{{item.name.tag}}
            </div>
            {{/if}}
            <div class="dec">
              <div class="avatar">
                <img src="{{item.avatar.author}}" alt="作者头像" data-nameStart="{{item.name.authorStart}}">
                {{if item.avatar.is}}
                <img src="{{item.avatar.committer}}" alt="提交者头像" class="committer-avatar" data-nameStart="{{item.name.committerStart}}">
                {{/if}}
              </div>
              {{@item.time_info}}
            </div>
            <div class="desc">{{@item.text}}</div>
            {{if item.stats}}
            <div class="stats">
              <span class="file-count">{{item.stats.files}}</span> 个文件发生了变化，影响行数： 
              <span class="additions">+{{item.stats.additions}}</span> 
              <span class="deletions">-{{item.stats.deletions}}</span>
            </div>
            {{/if}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="logo">Created By DF-Plugin</div>
  </div>
</body>

</html>