* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 530px;
  color: #1e1f20;
  transform: scale(1.5);
  transform-origin: 0 0;
  background-color: #f0f4f7;
  transform: scale(2.5)
}

.container {
  width: 630px;
  padding: 20px 15px 10px 15px;
  background-color: #0d1017;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.head_box {
  /* background: linear-gradient(to right, #232424, #4f5151); */
  /* border-radius: 15px; */
  padding: 15px;
  color: white;
  text-align: center;
}

.head_box .id_text {
  font-size: 27px;
  font-weight: bold;
  text-align: left; 
  font-weight: bold;
}

.data_box {
  border-radius: 10px;
  margin-top: -5px;
  padding: 6px;
  /* background: #ffffff; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list .item {
  display: flex;
  align-items: center;
  background: #141b23;
  border: 2px solid #4f4f4f;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list .item .title {
  font-size: 16px;
  color: #f1f6fe;
}

.list .item .title .text {
  font-weight: bold;
}

.list .item .title .dec {
  font-size: 14px;
  color: #bababa;
  margin-top: 5px;
}

.list .item .title .desc {
  font-size: 14px;
  color: #ffffff;
  margin-top: 5px;
  white-space: pre-wrap;
}

.logo {
  font-size: 14px;
  font-family: "tttgbnumber";
  text-align: center;
  color: #c3c4c4;
  margin-top: 10px;
}